@use "./var.scss";
@use './custom-block.scss';

.md-render-container {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;

  font-size: 14px;
  // line-height: 24px;

  :not(pre) > code {
    border-radius: 4px;
    padding: 3px 6px;
    background-color: var(--md-code-sg-color);
    transition: color 0.25s, background-color 0.5s;
    color: var(--md-theme-primary-color);
  }

  .code {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    background-color: var(--md-code-block-bg);
    overflow-x: auto;
    transition: background-color 0.5s;
    margin: 16px 0;

    code {
      position: relative;

      span {
        color: var(--shiki-light, inherit);
        line-height: 1.7;
      }
    }

    .lang {
      text-align: right;
    }
  }

  [class*="language-"] code {
    display: block;

    padding: 0 20px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 100%;
    line-height: 1.7;
    font-size: 0.875em;
    color: #67676c;
    transition: color 0.5s;
  }

  [class*="language-"] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    background: transparent;
    overflow-x: auto;
  }

  p {
    line-height: 28px;
  }

  a {
    font-size: 16px;
    font-weight: bold;
    color: var(--md-theme-primary-color);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.25s, opacity 0.25s;
    margin: 0;
  }

  table {
    display: block;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;
  }

  tr {
    background-color: var(--md-table-th-bg);
    border-top: 1px solid var(--md-table-th-border);
    transition: background-color 0.5s;
  }

  tr:nth-child(2n) {
    background-color: var(--md-table-soft-bg);
  }

  th,
  td {
    border: 1px solid var(--md-table-th-border);
    padding: 8px 16px;
  }

  th {
    font-size: 14px;
    font-weight: 600;
    background-color: var(--md-table-soft-bg);
  }

  :where([dir="ltr"]) th {
    text-align: left;
  }

  :where([dir="rtl"]) th {
    text-align: right;
  }

  td {
    font-size: 14px;
  }

  hr {
    margin: 16px 0;
    border: none;
    border-top: 1px solid var(--md-table-th-border);
  }

  // 代码变更
  [class*="language-"] code .diff.remove {
    background-color: var(--md-code-line-diff-remove-color);
    opacity: 0.7;
  }

  [class*="language-"] code .diff.remove::before {
    content: "-";
    color: var(--md-code-line-diff-remove-symbol-color);
  }

  [class*="language-"] code .diff.add {
    background-color: var(--md-code-line-diff-add-color);
  }

  [class*="language-"] code .diff.add::before {
    content: "+";
    color: var(--md-code-line-diff-add-symbol-color);
  }

  [class*="language-"] code .diff {
    transition: background-color 0.5s;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
  }

  [class*="language-"] code .highlighted {
    background-color: var(--md-code-line-highlight-color);
    transition: background-color 0.5s;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
  }

  [class*="language-"] code .highlighted.error {
    background-color: var(--md-theme-danger-color-soft);
  }

  [class*="language-"] code .highlighted.warning {
    background-color: var(--md-code-line-warning-color);
  }

  .highlighted-word {
    background-color: var(--md-code-block-bg);
    border: 1px solid var(--md-code-block-border);
    padding: 1px 3px;
    margin: -1px -3px;
    border-radius: 4px;
  }

  // 语言

  [class*="language-"] > span.lang {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
    color: var(--md-code-lang-color);
    transition: color 0.4s, opacity 0.4s;
  }

  div[class*="language-"].line-numbers-mode {
    /*rtl:ignore*/
    padding-left: 50px;
    code {
      padding: 0;
      padding-right: 20px;
    }
  }

  .line-numbers-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 1.7;
    font-size: 0.875em;
    color: #67676c;
    transition: border-color 0.5s, color 0.5s;
    padding-top: 20px;
    width: 32px;
    border-right: 1px solid #e2e2;
    z-index: 3;
    text-align: center;
    overflow: hidden;
  }

  /** 自定义代码块 */

  .custom-block {
    margin: 16px 0;
  }

  .custom-block p {
    margin: 8px 0;
    line-height: 24px;
  }

  .custom-block p:first-child {
    margin: 0;
  }

  .custom-block div[class*="language-"] {
    margin: 8px 0;
    border-radius: 8px;
  }

  .custom-block div[class*="language-"] code {
    font-weight: 400;
    background-color: transparent;
  }

  .custom-block .vp-code-group .tabs {
    margin: 0;
    border-radius: 8px 8px 0 0;
  }
}
