@use "./var.scss";

* {
  padding: 0;
  margin: 0;
}

.md-editor {
  width: 100%;
  border: 1px solid var(--md-editor-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.is-fullscreen {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto!important;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c9cdd4;
    outline: none;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
  }

  .cm-editor {
    height: 100%;
  }

  &-body {
    position: relative;
    display: flex;
    width: 100%;
    flex: auto;
    min-height: 0;
    box-sizing: border-box;

    &.is-only-show-editable {
      .md-editor-preview {
        display: none !important;
      }
      .md-editor-editable {
        width: 100% !important;
      }
    }

    &.is-only-show-preview {
      .md-editor-editable {
        display: none !important;
      }
      .md-editor-preview {
        width: 100% !important;
      }
    }
  }

  &-toolbar {
    border-bottom: 1px solid var(--md-editor-border-color);
    padding: 5px 10px;
    flex-shrink: 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;

    .md-editor-dropdown {
      height: 30px;
    }

    &__left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &-item {
      display: inline-block;
      padding: 5px 5px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;

      &:hover,
      &.is-active {
        color: var(--md-editor-primary-color);
        background: #f0f0f0;
      }
    }
  }

  &-editable {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    border-right: 1px solid var(--md-editor-border-color);
    height: 100%;
    // padding: 10px;
    overflow: auto;
    background-color: #f8f9fa;
  }
  &-preview {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }

  &-sidebar {
    display: none;
    border-left: 1px solid var(--md-editor-border-color);

    &.is-active {
      flex-shrink: 0;
      display: block;
      width: 280px;
    }
  }
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.md-editor-toolbar-item {
  position: relative;
  height: 30px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.md-editor-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
  }
}

.md-editor-toc {
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.md-editor-toc-item {
  padding: 5px 15px;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  font-size: 14px;
  line-height: 2;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #959da5;
  font-weight: bold;
  border-radius: 5px;

  &.is-active,
  &:hover {
    color: var(--md-editor-primary-color);
    background-color: #f6f8fa;
  }
}
