

:root {
  --md-code-tab-bg:  var(--md-code-block-bg);
  --md-code-tab-divider: var(--md-code-block-gutter);
  --md-code-tab-text-color: var(--md-text-color-2);

  --md-code-tab-bg: var(--md-code-block-bg);
  --md-code-tab-hover-text-color: var(--md-text-color);
  --md-code-tab-active-text-color: var(--md-text-color);
  --md-code-tab-active-bar-color: var(--md-theme-primary-color);

}


.md-code-group {
  margin-top: 16px;

  .md-code-group-tabs {
    display: flex;
    margin-bottom: -10px;
    padding-left: 16px;
    position: relative;
    z-index: 1;
    overflow-x: auto;
    background-color: var(--md-code-group-header-bg);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    label {
      padding: 0 16px;
      line-height: 48px;
      font-size: 14px;
      font-weight: 500;
      color: var(--md-code-group-tab-text-color);
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: color 0.3s, border-color 0.3s;

      &:hover {
        color: var(--md-code-group-tab-active-text-color);
      }
    }

    input {
      display: none;
    }
  }

  .md-code-group-blocks {
    margin: 0;
    
    .md-code-block {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    div[class*="language-"] {
      display: none;
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}


.md-code-group-tabs input:checked + label {
  color: var(--md-code-group-tab-active-text-color);
  border-bottom-color: var(--md-code-group-tab-active-border-color);
}

