:root {
  --md-code-copy-code-border-color: var(--md-code-block-border);
  --md-code-copy-code-bg: var(--md-code-block-bg);

  --md-code-copy-code-hover-border-color: var(--md-code-block-border);
  --md-code-copy-code-hover-bg: var(--md-code-block-bg);

  --md-code-copy-code-active-text: var(--md-text-color-2);
  --md-code-copy-copied-text-content: "Copied!";
  --md-code-lang-color: #777;

  --md-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");

  --md-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
}

[class*="language-"] > button.copy {
  /*rtl:ignore*/
  direction: ltr;
  position: absolute;
  top: 12px;
  /*rtl:ignore*/
  right: 12px;
  z-index: 3;
  border: 1px solid var(--md-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--md-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--md-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

[class*="language-"]:hover > button.copy,
[class*="language-"] > button.copy:focus {
  opacity: 1;
}

[class*="language-"] > button.copy:hover,
[class*="language-"] > button.copy.copied {
  border-color: var(--md-code-copy-code-hover-border-color);
  background-color: var(--md-code-copy-code-hover-bg);
}

[class*="language-"] > button.copy.copied,
[class*="language-"] > button.copy:hover.copied {
  /*rtl:ignore*/
  border-radius: 0 4px 4px 0;
  background-color: var(--md-code-copy-code-hover-bg);
  background-image: var(--md-icon-copied);
}

[class*="language-"] > button.copy.copied::before,
[class*="language-"] > button.copy:hover.copied::before {
  position: relative;
  top: -1px;
  /*rtl:ignore*/
  transform: translateX(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--md-code-copy-code-hover-border-color);
  /*rtl:ignore*/
  border-right: 0;
  /*rtl:ignore*/
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--md-code-copy-code-active-text);
  background-color: var(--md-code-copy-code-hover-bg);
  white-space: nowrap;
  content: var(--md-code-copy-copied-text-content);
}


[class*="language-"]:hover > button.copy + span.lang,
[class*="language-"] > button.copy:focus + span.lang {
  opacity: 0;
}
