.md-image-block {
  display: inline-block;
  max-width: 100%;

  &:has(.md-img[loading="lazy"]) {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    background-color: var(--md-code-block-bg);
  }

  .md-img {
    max-width: 100%;
  }
  .md-img[loading="lazy"]:not(.md-img.loaded) {
  
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .md-img.loaded {
    opacity: 1;
    animation: fadeIn 0.5s ease-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
