@use "./var.scss";
@use "./base.scss";
@use "./custom-block.scss";
@use "./code-group.scss";
@use "./table.scss";
@use "./head.scss";
@use "./copy.scss";
@use "./image.scss";
@use "./list.scss";
@use "./task.scss";
@use "./code.scss";

.md-editor-preview-body {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;

  color: var(--md-text-color);
  font-size: 16px;

  p {
    line-height: 28px;
  }

  p,
  summary {
    margin: 16px 0;
  }

  blockquote {
    margin: 16px 0;
    border-left: 2px solid var(--md-code-block-border);
    padding-left: 16px;
    transition: border-color 0.5s;
    color: var(--md-text-color-2);
  }

  blockquote > p {
    margin: 0;
    font-size: 16px;
    transition: color 0.5s;
  }

  a.externa-link {
    font-size: 16px;
    font-weight: bold;
    color: var(--md-theme-primary-color);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition:
      color 0.25s,
      opacity 0.25s;
    margin: 0;
  }

  /** 自定义代码块 */

  .md-custom-block {
    margin: 16px 0;
  }

  .md-custom-block p {
    margin: 8px 0;
    line-height: 24px;
  }

  .md-custom-block p:first-child {
    margin: 0;
  }

  .md-custom-block div[class*="language-"] {
    margin: 8px 0;
    border-radius: 8px;
  }

  .md-custom-block div[class*="language-"] code {
    font-weight: 400;
    background-color: transparent;
  }

  .md-custom-block .md-code-group .md-code-group-tabs {
    margin: 0;
    border-radius: 8px 8px 0 0;
  }
}

// shiki 暗黑模式颜色适配
[md-theme="dark"] .shiki,
[md-theme="dark"] .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}


.shiki {
  color: var(--shiki-light);
  background-color: var(--md-code-block-bg)!important;
}
