.md-list {
  padding-left: 1.25rem;
  margin: 16px 0;
}

ul.md-list {
  list-style: disc;
}

ol.md-list {
  list-style: decimal;
}

.md-list-item + .md-list-item {
  margin-top: 8px;
}

.md-list-item > .md-list {
  margin: 8px 0 0;
}
