.md-list {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.md-ul {
  list-style: disc;
}

.md-ol {
  list-style: decimal;
}

.md-li + .md-li {
  margin-top: 8px;
}

.md-li > .md-list {
  margin: 8px 0 0;
}
