.md-editor-button {
    background-color: #006ce7;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #006ce7;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 4px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
}