/* 基本样式 */
.md-editor-dropdown-popper {
  display: none;
  position: absolute;
  padding: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  // display: inline-block;
  overflow: hidden;
  vertical-align: top;
  z-index: 1150;
  // min-width: 200px;
}

.md-editor-dropdown-menu-item {
  padding: 6px;
  align-items: center;
  color: #222f3e;
  display: flex;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: #006ce7;
    color: white;
  }
}
