.md-editor-input {
  appearance: none;
  background-color: #fff;
  border-color: #eee;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: #222f3e;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  min-height: 34px;
  outline: 0;
  padding: 5px 5.5px;
  resize: none;
  width: 100%;
}
