.md-editor-input {
  appearance: none;
  background-color: #fff;
  border-color: #eee;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: #222f3e;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  min-height: 34px;
  outline: 0;
  padding: 5px 5.5px;
  resize: none;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

[md-theme="dark"] {
  .md-editor-input {
    background-color: #333;
    border-color: #454545;
    color: #e4e4e7;
  }
}
